:root {
    --background-color: rgb(196, 196, 196);
    --header-background-color: rgb(54, 54, 54);
    --body-background-color: rgb(182, 158, 80);
    --footer-background-color: rgb(54, 54, 54);
}

html {
    background-color: var(--background-color);
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

.branded-border {
    border-bottom: 4px double rgb(250, 250, 250);
    padding-bottom: 10px;
}

.main-header {
    background-color: var(--header-background-color);
    padding: 30px;
}

nav ul {
    list-style: none;
}

.uwm-header {
    background-color: var(--header-background-color);
    color:white;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.uwm-main {
    background-color: var(--body-background-color);
    padding: 30px;
    margin-bottom: 20px;
}

.uwm-footer {
    background-color: var(--footer-background-color);
    color:white;
    padding: 30px;
}

.uwm-nav-links {
    color:rgb(235, 194, 82);
}